
#MobileSongDetails {

	height: 100%;
	width: 100%;
}

#MobileSongDetails #currsong_container {
	width: 100%;
	height: 100%;
	padding-left: 40px;
	padding-right: 40px;

	flex-direction: row;
	justify-content: space-around;
	display: flex;
}

#MobileSongDetails #image_container {
	height: 100%;
	width: 30%;
}

#MobileSongDetails #album_art {
	width: 80%;
	height: auto;
}

#MobileSongDetails #nowPlaying {
	height: 5%;
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
	padding-bottom: 30px;
	margin-block-end:0em;
	margin-top:10px;
}

#MobileSongDetails #detail_container {
	height: 50%;
	width: 50%;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	text-align: left;

}

#MobileSongDetails #song_name {
	font-size: 30px;

}

#MobileSongDetails #song_artist {
	padding-top: 10px;
	font-size: 20px;
}