#PlayerPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#PlayerPage #title_row {
  width: calc(100% - 60px);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#PlayerPage #spotifam_title {
  margin: 0px;
  width: 300px;
}

#PlayerPage #room_code_text {
  font-size: 1.5em;
  margin: 0px;
}


#PlayerPage #content_container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#PlayerPage #song_details_container {
  border: 1px solid white;
  margin-top: 50px;
  width: 60%;
  height: 400px;
}

#PlayerPage #song_controls_container {
  border: 1px solid white;
  height: 100px;
  width: 60%;
}

#PlayerPage #queue_container {
  border: 1px solid white;
  width: 60%;
  height: 400px;
}

#PlayerPage #buttons{
  height: 50px;
  width:100%;
  margin-top: 50px;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#play, #next, #prev, #pause{
  width:65px;
  height: 65px;
  border:0;
  background-color: #1DB945;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#next{
  width: 40px;
  height: 40px;
  left: 58%;
}
#prev{
  width: 40px;
  height: 40px;
  left: 42%;
}
#prev img{
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#next img{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20%;
  left: 20%;
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
#play img{
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
#pause img{
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
