#PlayerPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#PlayerPage #title_row {
  width: calc(100% - 60px);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#PlayerPage #spotifam_title {
  margin: 0px;
  width: 300px;
}

#PlayerPage #room_code_text {
  font-size: 1.5em;
  margin: 0px;
}


#PlayerPage #content_container {
  display: flex;
  width: 75vw;
  height: 70vh;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  overflow: hidden;

  background-color: #0c0c0d;
  border: 1px solid #2a2a2e;
  border-radius: 10px;
}

#PlayerPage #container_left {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  overflow: hidden;

}

#PlayerPage #container_right {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  overflow: hidden;
}

#PlayerPage #ToggleSearch {
  z-index: 1000;
  border: 1px solid #2a2a2e;
  background-color: #0c0c0d;
  color: #ffffff;
  font-size: 14px;
  height: 50px;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center; 
  align-items: center;
  opacity: .85;
}

#PlayerPage #ToggleSearch:hover {
  opacity: 1;
  cursor: pointer;
}

#PlayerPage #ToggleSearch #ToggleSearchIcon {
  font-weight: 600;
  font-size: 2em;
  margin: 2px;
  margin-bottom: auto;
  top: 0;
}

#PlayerPage #ToggleSearch #ToggleSearchText {
  font-size: 1em;
  margin: 2px;
}

#PlayerPage #song_details_container {
  border: 0px solid white;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

#PlayerPage #song_details_album_art {
  width: 90%;
  height: auto;
}

#PlayerPage #song_details_text {
  overflow: hidden;
}

#PlayerPage #song_controls_container {
  border: 0px solid white;
  height: 65px;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#PlayerPage #queue_container {  
  border: 0px solid white;
  width: 100%;
  height: 100%;
  border-left: 1px solid #2a2a2e;
  overflow: auto;
}

#PlayerPage #search_container {  
  border: 0px solid white;
  width: 100%;
  height: 100%;
  border-left: 1px solid #2a2a2e;
  overflow: auto;
}

#MobileRoom #search_title {
  font-size: 10px;
}
