/*
 *  QUEUE STYLING
 */

#Queue {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}

#Queue th {
  padding: 10px;
  
  background-color: #0c0c0d;
  color: #7d7d7e;

  text-align: left;
  font-size: 11px;
  letter-spacing: 2px;
}
