/*
 *  QUEUE STYLING
 */

#Queue {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}

#Queue th {
  padding: 10px;
  
  background-color: #000000;
  color: #B4B4B4;

  text-align: left;
  font-size: 11px;
  letter-spacing: 2px;
}
