/*
 *  DEFAULT SONG STYLING (ROW)
 */

#Queue tr {
  position: relative;
  width: 100%;
  height: 45px;
  
  background-color:#0c0c0d;
  color: #FFFFFF;

  border-bottom: 1px solid #2a2a2e;
  text-align: left;
  text-overflow: ellipsis;
  word-break: keep-all;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#Queue td  {
  max-width: 0;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  word-break: keep-all;

  background-color: #0c0c0d;
  
  letter-spacing: .1px;
  font-size: 13px;
  font-weight: bold;
  text-overflow: ellipsis;
}

#Queue td.title {
  width: 30%;
}

#Queue td.duration {
  width: 10%;
}


/*
 *  SONG INTERACTION STYLING (ROW)
 */

#Queue tr:hover td {
  background-color: #282828;
}

#Queue tr.currentSong{
  color: #1DB954
}

/*
 *  DROP ZONES FOR EACH SONG
 */

.dropzones {
  position: absolute;
  left: 0;
  height: 45px;
  width: 100%;
}

.above {
  position: relative;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: red;
  opacity: 0;
}

.below {
  position: relative;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: green;
  opacity: 0;
}